body {
  background-color: #fff;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #5e6282;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img--no-gap {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 1440px;
  padding-left: 141px;
  padding-right: 91px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 47px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  color: #212832;
  font-size: 17px;
  font-family: Google Sans;
  font-weight: 500;
}

.header__logo {
  width: 116px;
  height: 35px;
  margin-right: 222px;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__logo:hover, .header__logo:focus {
  transform: scale(1.2);
}

.header__nav {
  margin-right: 86px;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
}

.header__nav-item {
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-item:nth-of-type(1) {
  margin-right: 55px;
}
.header__nav-item:nth-of-type(2) {
  margin-right: 64px;
}
.header__nav-item:nth-of-type(3) {
  margin-right: 62px;
}
.header__nav-item:hover, .header__nav-item:focus {
  color: #f1a501;
}

.header__btn--login {
  font-weight: 500;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__btn--login:hover, .header__btn--login:focus {
  color: #f1a501;
}

.header__btn--singup {
  margin-left: 52px;
  margin-right: 40px;
  padding: 9px 21px;
  outline: 1px #000 solid;
  border-radius: 5px;
  font-weight: 500;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__btn--singup:hover, .header__btn--singup:focus {
  outline: none;
  background-color: #f1a501;
}

.header__select--lang {
  font-weight: 500;
  background-color: transparent;
  border-style: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.hero__subtitle {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #df6951;
}

.hero__title {
  width: 545px;
  margin-bottom: 30px;
  font-family: Volkhov, serif;
  font-weight: 700;
  font-size: 84px;
  line-height: 1.06;
  letter-spacing: -0.04em;
  color: #181e4b;
}

.hero-bg {
  position: absolute;
  top: -104px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-repeat: no-repeat;
  background-image: url("../images/hero-decore.png");
}

.hero__text {
  width: 477px;
  margin-bottom: 34px;
  font-weight: 500;
  line-height: 1.88;
}

.hero__content {
  padding-top: 112px;
  padding-bottom: 117px;
  width: 547px;
}

.hero__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero__btn--find {
  padding: 19px 26px;
  margin-right: 44px;
  font-family: Google Sans, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.27;
  color: #fff;
  background-color: #f1a501;
  border-radius: 10px;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn--find:hover,
.hero__btn--find :focus {
  background-color: #df6951;
}

.hero__btn--demo {
  position: relative;
  margin-right: 21px;
  width: 52px;
  height: 52px;
  display: inline-block;
  border-radius: 50%;
  background-color: #df6951;
  box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn--demo:hover,
.hero__btn--demo :focus {
  background-color: #f1a501;
}

.hero__icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
}

.hero--demo-text {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.53;
  color: #686d77;
}

.wrapper-img {
  position: relative;
  width: 784px;
  height: 764px;
}

.hero__img {
  position: absolute;
  top: 0;
  right: 15px;
  width: 784px;
  height: 764px;
}

.hero__icon-plane {
  position: absolute;
}
.hero__icon-plane:nth-of-type(1) {
  top: 50px;
  left: -80px;
}
.hero__icon-plane:nth-of-type(2) {
  top: 110px;
  right: -60px;
  z-index: -1;
}

.services {
  position: relative;
  padding-top: 105px;
  padding-bottom: 201px;
  text-align: center;
}

.services__subtitle {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #5e6282;
}

.services__title {
  margin-bottom: 66px;
  font-family: Volkhov, serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.28;
  text-transform: capitalize;
  color: #14183e;
}

.services__list {
  display: flex;
  justify-content: space-between;
}

.services__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 267px;
  border-radius: 36px;
  background-color: #fff;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services__item:hover, .services__item:focus {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.services__item:hover .services--decope-square--large, .services__item:focus .services--decope-square--large {
  opacity: 1;
}

.services__item-title {
  margin-bottom: 15px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.35;
  color: #1E1D4C;
}

.services__item-subtitle {
  padding: 0 42px 45px 44px;
  font-weight: 500;
  line-height: 1.62;
}

.services__icon-satellite {
  width: 66px;
  height: 70px;
  z-index: 2;
}

.services__icon-plane {
  width: 167px;
  height: 153px;
  z-index: 2;
}

.services__icon-microphone {
  width: 40px;
  height: 69px;
  z-index: 2;
}

.services__icon-settings {
  width: 50px;
  height: 50px;
  z-index: 2;
}

.services__icon-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.services--decope-square {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff1da;
  z-index: 1;
  border-radius: 18px 5px 10px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.services__item:nth-of-type(1) .services__icon-wrapper .services--decope-square {
  bottom: 35px;
  right: -25px;
  transform: rotate(-180deg);
}
.services__item:nth-of-type(2) .services__icon-wrapper .services--decope-square {
  top: 40px;
  left: 40px;
}
.services__item:nth-of-type(3) .services__icon-wrapper .services--decope-square {
  top: 35px;
  left: 15px;
}
.services__item:nth-of-type(4) .services__icon-wrapper .services--decope-square {
  bottom: 35px;
  right: -25px;
}

.services__decore-plus {
  position: absolute;
  top: 105px;
  right: -31px;
}

.services--decope-square--large {
  position: absolute;
  bottom: -33px;
  left: -35px;
  width: 100px;
  height: 100px;
  background: #df6951;
  border-radius: 30px 0px 10px;
  z-index: -10;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}/*# sourceMappingURL=main.css.map */