$main-text-color: #5e6282;
$title-text-color: #14183e;
$subtitle-text-color: #1e1d4c;
$hero-text-color: #181e4b;
$second-text-color: #757575;
$nav-text-color: #212832;
$accent-color: #f1a501;
$accent-second-color: #df6951;
$second_btn_color: #686d77;
$decore-square: #fff1da;
$second-color-title: #080809;
$second-color-subtitle: #84829a;
$icon-btn-bgcolor: #f5f5f5;
$steps-accent-color: #8a79df;

$background-color: #fff;

$font-family-main: Poppins;
$font-family-title: Volkhov;
$font-family-subtitle: Open Sans;
$font-family-btn: Google Sans;
$font-family-input: Montserrat;
