$main-text-color: #212121;
$second-text-color: #757575;
$accent-text-color: #2196f3;
$hover-btn-color: #188ce8;
$logo-text-color: #000000;
$icon-color: #afb1b8;

$background-color: #fff;
$background-footer-color: #2f303a;
$background-cards-color: #f5f4fa;

$border-footer-color: #ececec;
$border-cards-color: #eeeeee;

$font-family-main: 'Poppins', sans-serif;
$font-family-title: 'Volkhov', serif;
$font-family-btn: 'Google Sans', sans-serif;
$font-family-input: 'Montserrat', sans-serif;
