$main-text-color: #5e6282;
$hero-text-color: #181e4b;
$second-text-color: #757575;
$nav-text-color: #212832;
$accent-color: #f1a501;
$accent-second-color: #df6951;
$second_btn_color: #686d77;
// $hover-btn-color: #188ce8;
// $logo-text-color: #000000;
// $icon-color: #afb1b8;

$background-color: #fff;
// $background-footer-color: #2f303a;
// $background-cards-color: #f5f4fa;

// $border-footer-color: #ececec;
// $border-cards-color: #eeeeee;

$font-family-main: Poppins;
$font-family-title: Volkhov;
$font-family-btn: Google Sans;
$font-family-input: Montserrat;
