.destinations {
  position: relative;
  text-align: center;
  padding: 0 227px 0 173px;
}

.destinations > .services__subtitle {
  text-transform: none;
  margin-bottom: 8px;
}

.destinations > .services__title {
  margin-bottom: 60px;
}

.destinations__list {
  display: flex;
  margin-bottom: 186px;
}

.destinations__item {
  position: relative;
  width: 315px;

  &:nth-of-type(1) {
    margin-right: 35px;
  }
  &:nth-of-type(2) {
    margin-right: 60px;
  }
}

.destinations__img {
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
    drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
    drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185))
    drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  border-radius: 24px;
}

.destinations__card-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 27px 25px 42px 20px;
  background: $background-color;
  border-radius: 0px 0px 24px 24px;
}

.destinations__card-name {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.24;
  margin-bottom: 19px;
}

.destinations__card-duration {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.24;
}

.destinations__icon {
  width: 20px;
  height: 20px;
  margin-right: 14px;
}

.destinations__img-decore {
  position: absolute;
  top: 330px;
  right: 165px;
  z-index: -1;
}
