.destinations {
  position: relative;
  text-align: center;
  padding-bottom: 100px;

  @media screen and (min-width: 1024px) {
    padding: 0 227px 186px 173px;
  }
}

.destinations > .services__subtitle {
  margin-bottom: 8px;
  text-transform: none;
}

.destinations > .services__title {
  margin-bottom: 60px;
}

.destinations__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;

  @media screen and (min-width: 1440px) {
    gap: 0;
    justify-content: space-between;
  }
}

.destinations__item {
  position: relative;
  transition: all 700ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03))
      drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.1))
      drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.02))
      drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01));
  }

  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    max-width: 315px;
  }
  @media screen and (min-width: 1440px) {
    width: 315px;
  }
}

.destinations__img {
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
    drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
    drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185))
    drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  border-radius: 24px;
}

.destinations__card-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  right: 0;
  padding: 27px 10px 42px 10px;
  background: $background-color;
  border-radius: 0px 0px 24px 24px;
  width: 100%;

  @media screen and (min-width: 1440px) {
    padding: 27px 25px 42px 20px;
  }
}

.destinations__card-name {
  margin-bottom: 19px;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.24;
}

.destinations__card-duration {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.24;
}

.destinations__icon {
  margin-right: 14px;
  width: 20px;
  height: 20px;
}

.destinations__img-decore {
  display: none;

  @media screen and (min-width: 1440px) {
    display: block;
    position: absolute;
    top: 330px;
    right: 165px;
    z-index: -1;
  }
}
